body

{
    background-image: linear-gradient(to bottom right, yellow, #57ff9d, lightblue);
    padding: 1cm;
    border-width: 5mm;
    border-color: black;
    border-style: solid;
}

h1

{
    text-align: center;
}

a

{
    font-size:xx-large
}
